SetEnv APPLICATION_ENV local
SetEnv TZ "America/New_York"

#php_value session.cookie_httponly true

#php_value memory_limit 128M
#php_value upload_max_filesize 120M
#php_value post_max_size 120M
#php_value expose_php Off
#php_value session.auto-start 1

#php_value default_socket_timeout 300

#may need to comment these 2 on prod/qa
#php_value magic_quotes_gpc  Off
#php_value magic_quotes_runtime  Off

RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]


RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]